.main-nav {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.main-nav > div:nth-child(1) {
  margin-right: 40px;
}

.main-nav > div:nth-child(2) {
  margin-right: 40px;
}

.main-nav__resume {
  background-color: #fcc028;
  width: fit-content;
  padding: 5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.resume-link:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .main-nav {
    justify-content: center;
  }
}
