.a {
  height: 100vh;
  display: flex;
  align-items: center;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right {
  flex: 1;
}

.a-card.bg {
  position: absolute;
  top: 200px;
  left: 50px;
  background-color: #333;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-university-img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.a-title {
  font-size: 50px;
  font-weight: 600;
}

.a-sub {
  margin: 20px 0px;
}

.a-desc {
  font-weight: 300;
}

.a-university {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-university-texts {
  width: 70%;
}

.a-university-title {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.skill-sec {
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 30px;

  padding-right: 30px;
}

.skill-img-con {
  display: inline-block;
  height: 200px !important;
}

.skill-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .a {
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
  }

  .a-left {
    text-align: center;
    width: 100%;
  }

  .a-card {
    height: 40vh;
    width: 80vw;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .a-card.bg,
  .a-university {
  }

  .a-right {
    padding: 20px;
  }

  .a-desc {
    font-weight: 10;
  }
}
