<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Key Technical Skills
            </h2>
        </div>
        <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="angular_gradient.png" alt="Angular">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Angular</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="ts-logo-256.svg" alt="TypeScript">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">TypeScript</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="ngrx-logo.png" alt="NgRx">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">NgRx</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="rxjs-logo.png" alt="RxJs">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">RxJs</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="dotnet-logo.png" alt="ASP.Net">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">ASP.Net</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="ef-logo.png" alt="EF Core">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">EF Core</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="mass-transit-logo.png" alt="Mass Transit">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Mass Transit</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="signal-r.svg" alt="Signal R">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Signal R</a>
                </h3>
            </div>

            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="azure.svg" alt="ASP.Net">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Azure</a>
                </h3>

            </div>

            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="azure-sql.svg" alt="Mass Transit">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Azure SQL Server</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-fit" src="postgres.svg" alt="Postgres">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Postgres</a>
                </h3>

            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="cosmos.svg" alt="Azure Cosmos DB">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Azure Cosmos DB</a>
                </h3>

            </div>

            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="rust.png" alt="rust">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Rust</a>
                </h3>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="go-logo.png" alt="go">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">Go</a>
                </h3>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="gRPC.png" alt="gRPC">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">gRPC</a>
                </h3>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="aws.svg" alt="aws">
                <h3 class="mb-1 text-xl tracking-tight text-gray-900 dark:text-white">
                    <a href="#">AWS</a>
                </h3>
            </div>
        </div>

    </div>
</section>
